<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.ClazzMapper">

    <resultMap id="getByIdResultMap" type="Clazz">
        <id column="id" property="id"/>
        <result column="clazz" property="name"/>
        <collection property="students" select="com.chen.mapper.StudentMapper.getByClazzId" column="id" ofType="stu"></collection>
    </resultMap>
   <select id="getById" resultMap="getByIdResultMap">
       SELECT * FROM class WHERE id = #{id}
   </select>
</mapper>